html {
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    background: -webkit-radial-gradient(rgb(239, 235, 233), rgb(255, 248, 225));
    background: radial-gradient(rgb(239, 235, 233), rgb(255, 248, 225));
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; /* You should add some other style for :focus to help UX/a11y*/
}

